<#@ template language="C#" debug="true" hostSpecific="true" #>
<#@ include file="../BAF.Localization/Localization.ttinclude"#>
<#
Run(
	@"data source=93.103.9.169;initial catalog=_PCS;user id=test;password=q1w2e3r4;multipleactiveresultsets=True;",
	"Resource",
	"Localization.xml",
	"Generated",
	"BAF.Authentication"
	);
#>
