<#@ template language="C#" debug="true" hostSpecific="true"#>
<#@ include file="..\PowerArhitecture.Common\Settings.ttinclude"#>
<#
Run("Database", "PowerArhitecture.Database", "Settings", "PowerArhitecture.DataAccess");
#>