<#@ template language="C#" debug="true" hostSpecific="true"#>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Configuration" #>
<#@ assembly name="EnvDTE"#>
<#@ assembly name="EnvDTE80" #>
<#@ assembly Name="System.Data.dll" #>
<#@ assembly Name="System.Data.Entity.dll" #>
<#@ assembly Name="System.Data.Entity.Design.dll" #>
<#@ assembly name="System.Xml" #>
<#@ assembly name="System.Xml.Linq" #>
<#@ assembly name="Microsoft.VisualStudio.Shell.Interop.8.0" #>
<#@ assembly Name="System.Windows.Forms.dll" #>
<#@ assembly name="VSLangProj" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Configuration" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Security.Policy" #>
<#@ import namespace="System.Xml.Linq" #>
<#@ import namespace="System.Xml.XPath" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Globalization" #>
<#@ import namespace="System.Data" #>
<#@ import namespace="System.Data.SqlClient" #>
<#@ import namespace="System.Data.Entity" #>
<#@ import namespace="System.Data.Entity.Design.PluralizationServices" #>
<#@ import namespace="System.Diagnostics" #>
<#@ import namespace="System.Windows.Forms" #>
<#@ import namespace="System.Collections" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Text.RegularExpressions" #>
<#@ import namespace="EnvDTE" #>
<#@ import namespace="EnvDTE80" #>
<#@ import namespace="Microsoft.CSharp" #>
<#@ import namespace="Microsoft.VisualStudio.Shell.Interop" #>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating" #>
// <auto-generated />
// This file was generated by a T4 template.
// Don't change it directly as your change would get overwritten.  Instead, make changes
// to the .tt file (i.e. the T4 template) and save it to regenerate this file.

// Make sure the compiler doesn't complain about missing Xml comments

<# 
	// create an instance of the AutomationHelper class so 
	// that it is accessible from everywhere within the template
	//this.VisualStudioHelper = new AutomationHelper(this.Host);
	VSHelper = new VisualStudioHelper(this);
#>




<#
//System.Diagnostics.Debugger.Launch();
//System.Diagnostics.Debugger.Break();	
var domainClasses = new Dictionary<string, DomainModelWrapper>();
var domainOverrides = new Dictionary<string, Dictionary<string, ModelRelation>>();//Dict<typeFullName, Dict<propName, Relation>>
var domainComponents = new Dictionary<string, Dictionary<string, CodeProperty2>>();//Dict<typeFullName, PropName, PropTypefullName>
var projectItems = VSHelper.GetAllProjectItems();
var pTypes = VSHelper.GetAllTypes(projectItems);
var generatedFiles = new Dictionary<string, string>();
var domainOverrideFiles = new Dictionary<string, string>();
var settings = XmlSettings.Load(VSHelper.Host.TemplateFile + ".settings.xml");
var cSharpCodeProvider = new CSharpCodeProvider();
//reset static props
DomainModelWrapper.GlobalModelRelations.Clear();

/*TODOS*/
//TODO: Strict - do note that non public getter or setter are not serialized/deserialized by default with Json.net

//Get and save all overrides
VSHelper.ProcessFiles(projectItems, (file, name) => VSHelper.ProcessTypes(file, (type, pItem) => 
    {
		if(VSHelper.GetAttribute(type.Attributes, "System.CodeDom.Compiler.GeneratedCodeAttribute") != null)
		{
			generatedFiles.Add(type.FullName, pItem.FileNames[0]);
			return;
		}
        var mapOverride =
            type.ImplementedInterfaces.OfType<CodeElement>()
                .FirstOrDefault(o => o.FullName.Contains("IAutoMappingOverride"));

		if(mapOverride == null) return;
		var overrideType = VSHelper.GetGenericAgruments(mapOverride.FullName)[0];
		if(overrideType == null) return;
		if(!domainOverrides.ContainsKey(overrideType))
			domainOverrides.Add(overrideType, new Dictionary<string, ModelRelation>());

		//VSHelper.Warning("Overrides found for type " + overrideType);

		domainOverrideFiles.Add(overrideType, pItem.FileNames[0]);

		//Get properties for overriden type
		var properties = new Dictionary<string, CodeProperty2>();
		foreach(var partialType in pTypes[overrideType])
        {
			foreach(var p in VSHelper.GetProperties(partialType))
				properties.Add(p.Name, p);
        }

		//get override method
		var method = VSHelper.GetMethod(type, "Override");
		if(method == null) return;
		var functionText = VSHelper.GetCodeFunctionText(method);
		
        //Components
        var compRegex = new Regex(@"\.Component\([\w\s]+=>[\s\w]+\.([\w\d]+)");
        var compMatches = compRegex.Matches(functionText);
        foreach (var match in compMatches.OfType<Match>().Where(o => o.Success))
        {
            var propName = match.Groups[1].Value;
            if(!properties.ContainsKey(propName)) continue;
            var prop = properties[propName];
            if(prop == null) throw new Exception("prop null");
            if(!domainComponents.ContainsKey(overrideType))
                domainComponents.Add(overrideType, new Dictionary<string, CodeProperty2>());
            domainComponents[overrideType].Add(propName, prop);
        }

        //oneToMany relation
		var oneToManyRegex = new Regex(@"\.HasMany\([\w\s]+=>[\s\w]+\.([\w\d]+)\)([^;]*)");
		var oneToManyMatches = oneToManyRegex.Matches(functionText);
		foreach(var match in oneToManyMatches.OfType<Match>().Where(o => o.Success))
        {
			var propName = match.Groups[1].Value;
			var extraCalls = match.Groups[2].Value;
            if(!properties.ContainsKey(propName)) continue;
            var prop = properties[propName];
            if(prop == null) throw new Exception("prop null");
			var relatedPropType = VSHelper.GetGenericAgruments(prop.Type).First();
			if(relatedPropType == null) throw new Exception("relatedPropType null");

            var relatedPropName = "";
            var keyColumn = "";

            //KeyColumn - support KeyColumn(o => o.Category) or KeyColumn("CategoryId")
            var keyColumnRegex = new Regex(@"\.KeyColumn\([\w\s]+=>[\s\w]+\.([\w\d]+)\)|\.KeyColumn\(""([\w\d]+)""\)");
		    var keyColumnMatches = keyColumnRegex.Matches(extraCalls);
            foreach (var keyColumnMatch in keyColumnMatches.OfType<Match>().Where(o => o.Success))
            {
                keyColumn = !string.IsNullOrEmpty(keyColumnMatch.Groups[1].Value)
                    ? settings.KeyColumnPrefix + keyColumnMatch.Groups[1].Value + settings.KeyColumnPostfix
                    : keyColumnMatch.Groups[2].Value;
                relatedPropName = VSHelper.Trim(keyColumn, settings.KeyColumnPrefix, settings.KeyColumnPostfix);
            }

            //PropertyRef - support PropertyRef(o => o.Category) or PropertyRef("CategoryId")
            var propRefRegex = new Regex(@"\.PropertyRef\([\w\s]+=>[\s\w]+\.([\w\d]+)\)|\.PropertyRef\(""([\w\d]+)""\)");
		    var propRefMatches = propRefRegex.Matches(extraCalls);
            foreach (var propRefMatch in propRefMatches.OfType<Match>().Where(o => o.Success))
            {
                relatedPropName = !string.IsNullOrEmpty(propRefMatch.Groups[1].Value)
                    ? propRefMatch.Groups[1].Value
                    : propRefMatch.Groups[2].Value;
            }

            if (string.IsNullOrEmpty(relatedPropName)) continue;

            //CollectionType - support AsBag(), AsList(), AsSet
            var collTypeRegex = new Regex(@"\.(AsList|AsSet|AsBag)");
            var collTypeMatches = collTypeRegex.Matches(extraCalls);
            var colType = CollectionMapType.Unknown;
            foreach (var collTypeMatch in collTypeMatches.OfType<Match>().Where(o => o.Success))
            {
                var cType = collTypeMatch.Groups[1].Value;
                switch(cType)
                {
                    case "AsSet":
                        colType = CollectionMapType.Set;
                        break;
                    case "AsList":
                        colType = CollectionMapType.List;
                        break;
                    case "AsBag":
                        colType = CollectionMapType.Bag;
                        break;
                }
            }

            var relatedProp = VSHelper.GetProperties(pTypes[relatedPropType]).FirstOrDefault(o => o.Name == relatedPropName);
            var assocType = relatedProp == null ? AssociationType.Unidirectional : AssociationType.Bidirectional;
            
            //Add oneToMany
			domainOverrides[overrideType].Add(propName,
				new ModelRelation
						{
							Type = ModelRelationType.OneToMany,
							RelatedModelType = relatedPropType,
							ListType = VSHelper.GetPropertyType(prop),
                            CollectionMapType = colType,
							Property = prop, //many
                            KeyColumn = keyColumn,
							PathInRelatedModel = relatedProp == null ? null : relatedPropName, //one
                            AssociationType = assocType
						});

            //Add manyToOne
            var manyToOneRelation = new ModelRelation
            {
                Type = ModelRelationType.ManyToOne,
                RelatedModelType = overrideType,
                ListType = null,
                Property = relatedProp,
                KeyColumn = keyColumn,
                PathInRelatedModel = propName,
                AssociationType = assocType
            };

            if (relatedProp == null) //Unidirectional association
            {
                DomainModelWrapper.AddGlobalModelRelation(relatedPropType, manyToOneRelation);
            }
            else
            {
                if(!domainOverrides.ContainsKey(relatedPropType))
				    domainOverrides.Add(relatedPropType, new Dictionary<string, ModelRelation>());
                domainOverrides[relatedPropType].Add(relatedPropName, manyToOneRelation);
            }

        }

		//oneToOne relation
		var oneToOneRegex = new Regex(@"\.HasOne\([\w\s]+=>[\s\w]+\.([\w\d]+)\)([^;]*)");
		var oneToOneMatches = oneToOneRegex.Matches(functionText);
		foreach(var match in oneToOneMatches.OfType<Match>().Where(o => o.Success))
        {
			var propName = match.Groups[1].Value;
			var extraCalls = match.Groups[2].Value;
			var prop = properties[propName];
			if(prop == null) throw new Exception("prop null");
			var relatedPropType = prop.Type.CodeType.FullName;

            //PropertyRef - support PropertyRef(o => o.Category) or PropertyRef("CategoryId")
            var propRefRegex = new Regex(@"\.PropertyRef\([\w\s]+=>[\s\w]+\.([\w\d]+)\)|\.PropertyRef\(""([\w\d]+)""\)");
		    var propRefMatches = propRefRegex.Matches(extraCalls);
            var relatedPropName = "";
            foreach (var propRefMatch in propRefMatches.OfType<Match>().Where(o => o.Success))
            {
                relatedPropName = !string.IsNullOrEmpty(propRefMatch.Groups[1].Value)
                    ? propRefMatch.Groups[1].Value
                    : propRefMatch.Groups[2].Value;
            }
            if (string.IsNullOrEmpty(relatedPropName)) continue;
            var relatedProp = VSHelper.GetProperties(pTypes[relatedPropType]).First(o => o.Name == relatedPropName);

			//Add oneToOne
			domainOverrides[overrideType].Add(propName,
				new ModelRelation
						{
							Type = ModelRelationType.OneToOne,
							RelatedModelType = relatedPropType,
							ListType = null,
							Property = prop, 
							PathInRelatedModel = relatedPropName ,
                            AssociationType = AssociationType.Bidirectional
						});
			//Add one to one
			if(!domainOverrides.ContainsKey(relatedPropType))
				domainOverrides.Add(relatedPropType, new Dictionary<string, ModelRelation>());

			if(!domainOverrides[relatedPropType].ContainsKey(relatedPropName)) //if is not self related
            {
				domainOverrides[relatedPropType].Add(relatedPropName,
				new ModelRelation
						{
							Type = ModelRelationType.OneToOne,
							RelatedModelType = overrideType,
							ListType = null,
							Property = relatedProp, 
							PathInRelatedModel = propName,
                            AssociationType = AssociationType.Bidirectional
						});
            }
        }

		//manyToMany relation
		var manyToManyRegex = new Regex(@"\.HasManyToMany\([\w\s]+=>[\s\w]+\.([\w\d]+)\)");
		var manyToManyMatches = manyToManyRegex.Matches(functionText);
		foreach(Match match in manyToManyMatches)
        {
			if (!match.Success) continue;
			var propName = match.Groups[1].Value;
			var prop = properties[propName];
			if(prop == null) throw new Exception("prop null");
			var relatedPropType = VSHelper.GetGenericAgruments(prop.Type).First();

			foreach(var relPartialType in pTypes[relatedPropType])
            {
				foreach(var relTypeProp in VSHelper.GetProperties(relPartialType))
				{
					//VSHelper.Warning(type.FullName + " - " +overrideType + " - " + relTypeProp.Name +" - "+ VSHelper.GetGenericAgruments(relTypeProp.Type).FirstOrDefault());
					if(
						VSHelper.IsNHibernateProperty(relTypeProp) &&
						VSHelper.IsGeneric(relTypeProp.Type) &&
						VSHelper.GetGenericAgruments(relTypeProp.Type).FirstOrDefault() == overrideType &&
						!domainOverrides[overrideType].ContainsKey(propName))
                    {
						//add manyToMany
						domainOverrides[overrideType].Add(propName,
							new ModelRelation
									{
										Type = ModelRelationType.ManyToMany,
										RelatedModelType = relatedPropType,
										ListType = VSHelper.GetPropertyType(prop),
										Property = prop, 
										PathInRelatedModel = relTypeProp.Name,
                                        AssociationType = AssociationType.Bidirectional
									});
                    }	
				}
            }

			
        }
	}));

var manager = Manager.Create(Host, GenerationEnvironment);

VSHelper.ProcessFiles(projectItems, (file, name) => 
	VSHelper.ProcessTypes(file, (type, pItem) => 
		{
			if(VSHelper.GetAttribute(type.Attributes, "System.CodeDom.Compiler.GeneratedCodeAttribute") != null) return;
			//VSHelper.GetAllCodeElementsOfType(type.)
			if(!type.get_IsDerivedFrom(settings.BaseEntity) || settings.IgnoreTypes.Contains(type.FullName)) return;
			//VSHelper.Warning(pItem.get_FileNames(0) + " gener created: " + (generatedFiles.ContainsKey(type.FullName) ?  File.GetCreationTime(generatedFiles[type.FullName]).ToString() : "WTF") + " gener modif: " + (generatedFiles.ContainsKey(type.FullName) ?  File.GetLastWriteTime(generatedFiles[type.FullName]).ToString() : "WTF") + " real: " + File.GetLastWriteTime(pItem.get_FileNames(0)));
			var domainModelModified = true;

			/*
			if(generatedFiles.ContainsKey(type.FullName) && File.GetLastWriteTime(generatedFiles[type.FullName]) >= File.GetLastWriteTime(pItem.get_FileNames(0))) //if there were no changes on domain model
			{
				if(
					!domainOverrideFiles.ContainsKey(type.FullName) || 
					(
						domainOverrideFiles.ContainsKey(type.FullName) && File.GetLastWriteTime(generatedFiles[type.FullName]) >= File.GetLastWriteTime(domainOverrideFiles[type.FullName])
					)) //if override mapping for domain model was changed
                {
					VSHelper.Warning(string.Format("No changes made on type '{0}'", type.FullName));
					manager.KeepGeneratedFile(generatedFiles[type.FullName]);
					return;
                }
				domainModelModified = false;
			}*/

			if(!domainClasses.ContainsKey(type.FullName))
				domainClasses.Add(type.FullName, new DomainModelWrapper(type, pTypes, domainOverrides, VSHelper, domainModelModified, pItem, settings, domainComponents));
			else
				domainClasses[type.FullName].Merge(new DomainModelWrapper(type, pTypes, domainOverrides, VSHelper, domainModelModified, pItem, settings, domainComponents));
			//Warning(string.Format("Processing type: '{0}' with parameter WasModified = {1}", type.FullName, domainModelModified));
		}));

manager.StartHeader(); 
#>
using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.CodeDom.Compiler;
using System.Linq.Expressions;
using System.Reflection;
using FluentNHibernate.Automapping;

<#
manager.EndBlock(); 

foreach(var type in domainClasses.Values)
{
	manager.StartNewFile(string.Format("{0}.generated.cs", type.Name)); 
#>
namespace <#=type.Namespace.FullName#>
{
	[GeneratedCode("T4Template", "1.0")]
	public partial class <#=type.Name#>
	{

<#
    if (domainComponents.ContainsKey(type.FullName))
    {
#>
        #region Components fileds
<#
        foreach (var comp in domainComponents[type.FullName])
        {
#>
        private <#=comp.Value.Type.AsFullName#> <#=VSHelper.GetFieldName(comp.Key)#>;
<#
        }
#>
        #endregion
<#
    }
#>
<#
    var globalTypeRelations = DomainModelWrapper.GlobalModelRelations.ContainsKey(type.FullName)
        ? DomainModelWrapper.GlobalModelRelations[type.FullName]
        : new List<ModelRelation>();
	foreach(var relation in type.RelatedModels.Union(globalTypeRelations))
	{
		var relatedType = domainClasses[relation.RelatedModelType];
        var propName = relation.Property == null 
            ? type.Name
            : relation.Property.Name;

	    var syntheticPropRequired = relation.Property != null && 
            VSHelper.GetAttribute(relation.Property.Attributes, settings.NotNullAttribute) != null;

	    var syntheticPropName = !string.IsNullOrEmpty(relation.KeyColumn)
	        ? relation.KeyColumn
	        : settings.KeyColumnPrefix + propName + settings.KeyColumnPostfix;

		var paramName = false //relation.Type == ModelRelationType.OneToMany || relation.Type == ModelRelationType.ManyToMany
			? VSHelper.Pluralize(VSHelper.FirstCharToLower(propName))
			: VSHelper.Singularize(VSHelper.FirstCharToLower(propName));

	    if (!cSharpCodeProvider.IsValidIdentifier(paramName))
	        paramName = "@" + paramName;
		
		var fieldName = VSHelper.GetFieldName(propName);
#>
		#region <#=propName#>

<#
		switch(relation.Type)
        {
			case ModelRelationType.OneToMany:
#>
		private <#=VSHelper.GetValidNHibernteEnumerableInterface(relation.Property, relation.ListType, settings.Strict)#> <#=fieldName#>;
<#
                if (relation.AssociationType == AssociationType.Bidirectional)
                {
#>

        public virtual void Add<#=VSHelper.Singularize(propName) #>(<#=relatedType.Name #> <#=paramName #>)
        {
            this.AddOneToMany(o => o.<#=propName #>, <#=paramName #>, o => o.<#=relation.PathInRelatedModel #>, o=> o.Remove<#=VSHelper.Singularize(propName) #>);
        }

        public virtual void Remove<#=VSHelper.Singularize(propName) #>(<#=relatedType.Name #> <#=paramName #>)
        {
            this.RemoveOneToMany(o => o.<#=propName #>, <#=paramName #>, o => o.<#=relation.PathInRelatedModel #>);
        }
<#
                }
                break;
			case ModelRelationType.ManyToMany:
#>
		private <#=relation.ListType#> <#=fieldName#>;
<#
                if (relation.AssociationType == AssociationType.Bidirectional)
                {
#>
        public virtual void Add<#=VSHelper.Singularize(propName) #>(<#=relatedType.Name #> <#=paramName #>)
        {
            this.AddManyToMany(o => o.<#=propName #>, <#=paramName #>, o => o.<#=relation.PathInRelatedModel #>);
        }

        public virtual void Remove<#=VSHelper.Singularize(propName) #>(<#=relatedType.Name #> <#=paramName #>)
        {
            this.RemoveManyToMany(o => o.<#=propName #>, <#=paramName #>, o => o.<#=relation.PathInRelatedModel #>);
        }
<# 
                }
                break;
			case ModelRelationType.ManyToOne:
                if (settings.SyntheticProperties)
                {
#>
        [ReadOnly(true)]
        public virtual <#=settings.IdentifierPropertyType#><#=(syntheticPropRequired ? "" : "?")#> <#=syntheticPropName#> { get; <#=settings.Strict ? "protected " : ""#>set; }
<#      
                }
                if (relation.AssociationType == AssociationType.Bidirectional)
                {
#>

        public virtual void Set<#=propName #>(<#=relatedType.Name #> <#=paramName #>)
        {
            this.SetManyToOne(o => o.<#=propName #>, <#=paramName #>, o => o.Remove<#=VSHelper.Singularize(relation.PathInRelatedModel) #>, o => o.<#=relation.PathInRelatedModel #>);
        }

        public virtual void Unset<#=propName #>()
        {
            this.UnsetManyToOne(o => o.<#=propName #>, o => o.<#=relation.PathInRelatedModel #>);
        }
<#
                }
                break;
			case ModelRelationType.OneToOne:

                if (settings.SyntheticProperties)
                {
#>
        [ReadOnly(true)] 
        public virtual <#=settings.IdentifierPropertyType#><#=(syntheticPropRequired ? "" : "?")#> <#=syntheticPropName#> { get; <#=settings.Strict ? "protected " : ""#>set; }
<#      
                }
                if (relation.AssociationType == AssociationType.Bidirectional)
                {
#>

		public virtual void Set<#=propName #>(<#=relatedType.Name #> <#=paramName #>)
        {
            this.SetOneToOne(o => o.<#=propName #>, <#=paramName #>, o => o.<#=relation.PathInRelatedModel #>);
        }

        public virtual void Unset<#=propName #>()
        {
            this.UnsetOneToOne(o => o.<#=propName #>, o => o.<#=relation.PathInRelatedModel #>);
        }	
<#
                }
                break;
        }
#>

		#endregion

<#
	}
#>
	}
}
<#
	manager.EndBlock();
}
manager.Process(true); 
#>

namespace FluentNHibernate.Automapping
{
    internal static class EntityExtensions
    {
        private static void AddIfNotExist<T>(ICollection<T> collection, T item)
        {
            if (!collection.Contains(item))
                collection.Add(item);
        }

        private static void RemoveIfExist<T>(ICollection<T> collection, T item)
        {
            if (collection.Contains(item))
                collection.Remove(item);
        }

        public static PropertyInfo GetPropertyInfo<TSource, TProperty>(TSource source, Expression<Func<TSource, TProperty>> propertyLambda)
        {
            var type = typeof(TSource);

            var member = propertyLambda.Body as MemberExpression;
            if (member == null)
                throw new ArgumentException(string.Format(
                    "Expression '{0}' refers to a method, not a property.",
                    propertyLambda));

            var propInfo = member.Member as PropertyInfo;
            if (propInfo == null)
                throw new ArgumentException(string.Format(
                    "Expression '{0}' refers to a field, not a property.",
                    propertyLambda.ToString()));

            if (type != propInfo.ReflectedType &&
                !type.IsSubclassOf(propInfo.ReflectedType))
                throw new ArgumentException(string.Format(
                    "Expresion '{0}' refers to a property that is not from type {1}.",
                    propertyLambda.ToString(),
                    type));

            return propInfo;
        }

        public static void AddOneToMany<TOne, TMany>(this TOne one,
            Expression<Func<TOne, IEnumerable<TMany>>> manyListExpr, TMany many,
            Expression<Func<TMany, TOne>> oneExpr,
            Expression<Func<TOne, Action<TMany>>> removeManyExpr)
            where TOne : <#=settings.BaseEntity#>
            where TMany : <#=settings.BaseEntity#>
        {
            var enumerable = manyListExpr.Compile()(one);
            var collection = (ICollection<TMany>)enumerable;
            var itemOwner = oneExpr.Compile()(many);
            var entityOwnerPropInfo = GetPropertyInfo(many, oneExpr);

            if (collection.Contains(many)) return;
            if (itemOwner != null)
                removeManyExpr.Compile()(itemOwner)(many);
            entityOwnerPropInfo.SetValue(many, one);
            collection.Add(many);

            /*
            if (Locations.Contains(location)) return;
            if (location.User != null)
                location.User.RemoveLocation(location);
            location.User = this;
            Locations.Add(location);*/


        }

        public static void RemoveOneToMany<TOne, TMany>(this TOne one,
            Expression<Func<TOne, IEnumerable<TMany>>> manyListExpr, TMany many,
            Expression<Func<TMany, TOne>> entityExpr
            )
            where TOne : <#=settings.BaseEntity#>
            where TMany : <#=settings.BaseEntity#>
        {
            var enumerable = manyListExpr.Compile()(one);
            var collection = (ICollection<TMany>)enumerable;
            var entityOwnerPropInfo = GetPropertyInfo(many, entityExpr);

            if (!collection.Contains(many)) return;
            collection.Remove(many);
            entityOwnerPropInfo.SetValue(many, null);

            /*
            if (!Locations.Contains(location)) return;
            Locations.Remove(location);
            location.User = null;*/
        }

        public static void SetManyToOne<TMany, TOne>(this TMany many,
            Expression<Func<TMany, TOne>> oneExpr, TOne newOne,
            Expression<Func<TOne, Action<TMany>>> removeManyExpr,
            Expression<Func<TOne, IEnumerable<TMany>>> manyExp)
            where TOne : <#=settings.BaseEntity#>
            where TMany : <#=settings.BaseEntity#>
        {
            var one = oneExpr.Compile()(many);
            var onePropInfo = GetPropertyInfo(many, oneExpr);
            var manyList = (ICollection<TMany>)manyExp.Compile()(newOne);

            if (Equals(one, newOne)) return;
            if (one != null)
                removeManyExpr.Compile()(one)(many);
            onePropInfo.SetValue(many, newOne);
            AddIfNotExist(manyList, many);
            /*
            if (User == user) return;
            if(User != null)
                User.RemoveLocation(this);
            User = user;
            AddIfNotExist(user.Locations, this);*/
        }

        public static void UnsetManyToOne<TMany, TOne>(this TMany many,
            Expression<Func<TMany, TOne>> oneExpr,
            Expression<Func<TOne, IEnumerable<TMany>>> manyListExpr)
            where TOne : <#=settings.BaseEntity#>
            where TMany : <#=settings.BaseEntity#>
        {
            var one = oneExpr.Compile()(many);
            var onePropInfo = GetPropertyInfo(many, oneExpr);
            var manyList = (ICollection<TMany>)manyListExpr.Compile()(one);

            if (one == null) return;
            RemoveIfExist(manyList, many);
            onePropInfo.SetValue(many, null);
            /*
            if(User == null) return;
            RemoveIfExist(User.Locations, this);
            User = null;*/
        }

        public static void AddManyToMany<TMany, TMany2>(this TMany many,
            Expression<Func<TMany, IEnumerable<TMany2>>> many2ListExpr, TMany2 many2,
            Expression<Func<TMany2, IEnumerable<TMany>>> manyListExpr)
            where TMany : <#=settings.BaseEntity#>
            where TMany2 : <#=settings.BaseEntity#>
        {
            var many2List = (ICollection<TMany2>)many2ListExpr.Compile()(many);
            var manyList = (ICollection<TMany>)manyListExpr.Compile()(many2);

            AddIfNotExist(manyList, many);
            AddIfNotExist(many2List, many2);
            /*
            camera.Locations.AddIfNotExist(this);
            Cameras.AddIfNotExist(camera);*/
        }

        public static void RemoveManyToMany<TMany, TMany2>(this TMany many,
            Expression<Func<TMany, IEnumerable<TMany2>>> many2ListExpr, TMany2 many2,
            Expression<Func<TMany2, IEnumerable<TMany>>> manyListExpr)
            where TMany : <#=settings.BaseEntity#>
            where TMany2 : <#=settings.BaseEntity#>
        {
            var many2List = (ICollection<TMany2>)many2ListExpr.Compile()(many);
            var manyList = (ICollection<TMany>)manyListExpr.Compile()(many2);

            RemoveIfExist(manyList, many);
            RemoveIfExist(many2List, many2);
            /*
            RemoveIfExist(camera.Locations, this);
            RemoveIfExist(Cameras, camera);*/
        }

        public static void SetOneToOne<TOne, TOne2>(this TOne one,
            Expression<Func<TOne, TOne2>> one2Expr, TOne2 one2,
            Expression<Func<TOne2, TOne>> oneExpr)
            where TOne : <#=settings.BaseEntity#>
            where TOne2 : <#=settings.BaseEntity#>
        {
            var oneInOne2 = oneExpr.Compile()(one2);
            var oneInOne2PropInfo = GetPropertyInfo(one2, oneExpr);
            var currentOne2 = one2Expr.Compile()(one);
            var currentOne2PropInfo = GetPropertyInfo(one, one2Expr);

            if (oneInOne2 != null)
                oneInOne2.UnsetOneToOne(one2Expr, oneExpr);
            oneInOne2PropInfo.SetValue(one2, one);
            if (currentOne2 != null)
                currentOne2.UnsetOneToOne(oneExpr, one2Expr);
            currentOne2PropInfo.SetValue(one, one2);

            /*
             merryWith.MerriedWith = this;
             MerriedWith = merryWith;
             */


        }

        public static void UnsetOneToOne<TOne, TOne2>(this TOne one,
            Expression<Func<TOne, TOne2>> one2Expr,
            Expression<Func<TOne2, TOne>> oneExpr)
            where TOne : <#=settings.BaseEntity#>
            where TOne2 : <#=settings.BaseEntity#>
        {
            var one2 = one2Expr.Compile()(one);
            var one2PropInfo = GetPropertyInfo(one, one2Expr);
            var oneInOne2PropInfo = GetPropertyInfo(one2, oneExpr);

            if (one2 == null) return;
            oneInOne2PropInfo.SetValue(one2, null);
            one2PropInfo.SetValue(one, null);
            /*
            if (Dispozicija == null) return;
            Dispozicija.DispozicijaRow = null;
            Dispozicija = null;*/
        }  
    }
}

<#+
public enum ModelRelationType
{
	None,
	OneToOne,
	OneToMany,
	ManyToOne,
	ManyToMany
}

public enum CollectionMapType
{
    Unknown = 0,
    Set,
    Bag,
    List
}

public enum AssociationType
{
    Unknown = 0,
    Unidirectional,
    Bidirectional
}

public class ModelRelation
{
	public ModelRelationType Type { get; set; }

	public string RelatedModelType { get; set; }

	//Only set when the related model is in a collection
	public string ListType { get; set; }

    public CollectionMapType CollectionMapType { get; set; }

    public CodeProperty2 Property { get; set; }

	public string KeyColumn { get; set; }

	public string PathInRelatedModel { get; set; }

    public AssociationType AssociationType { get; set; }
}


public class DomainModelWrapper
{
	private readonly CodeClass2 _domainModel;

    static DomainModelWrapper()
    {
        GlobalModelRelations = new Dictionary<string, List<ModelRelation>>();
    }

	public DomainModelWrapper(CodeClass2 domainModel, Dictionary<string, List<CodeClass2>> pTypes, 
		Dictionary<string, Dictionary<string, ModelRelation>> overrides, VisualStudioHelper vsHelper, bool wasModified, ProjectItem pItem, XmlSettings settings, 
        Dictionary<string, Dictionary<string, CodeProperty2>> domainComponents)
    {
		VSHelper = vsHelper;
		ProjectItem = pItem;
		WasModified = wasModified;
	    Settings = settings;
		ProjectTypes = pTypes;
		Overrides = overrides;
		_domainModel = domainModel;
		MappedProperties = new Dictionary<string, CodeProperty2>();
		RelatedModels = new List<ModelRelation>();
	    Components = domainComponents;
		Initialize();
    }

    public static Dictionary<string, List<ModelRelation>> GlobalModelRelations { get; set; }

	public Dictionary<string, Dictionary<string, ModelRelation>> Overrides { get; set; }

	public VisualStudioHelper VSHelper { get; set; }

	public Dictionary<string, List<CodeClass2>> ProjectTypes { get; set; }

	public string Name { get{ return _domainModel.Name; } }

	public ProjectItem ProjectItem { get; set; }

    public XmlSettings Settings { get; set; }

	public bool WasModified { get; set; }

	public CodeNamespace Namespace { get{ return _domainModel.Namespace; } }

	public string FullName { get{ return _domainModel.FullName; } }

	public Dictionary<string, CodeProperty2> MappedProperties { get; set; }

    public Dictionary<string, Dictionary<string, CodeProperty2>> Components { get; set; }

	public List<ModelRelation> RelatedModels { get; set; }

    public static void AddGlobalModelRelation(string typeFullName, ModelRelation relation)
    {
        if(!GlobalModelRelations.ContainsKey(typeFullName))
            GlobalModelRelations.Add(typeFullName, new List<ModelRelation>());
        GlobalModelRelations[typeFullName].Add(relation);
    }

	public void Merge(DomainModelWrapper wrapper)
    {
		if(wrapper.FullName != wrapper.FullName)
			throw new Exception("Cannot merge two ModelWrappers with different types");
		foreach(var pair in wrapper.MappedProperties)
        {
			if(MappedProperties.ContainsKey(pair.Key))
            {
				VSHelper.Warning(string.Format("Cannot add an existing property! Entity {0}, duplicate property {1}", FullName, pair.Key));
				continue;
            }
			MappedProperties.Add(pair.Key, pair.Value);
        }
		foreach(var relation in wrapper.RelatedModels)
        {
			if(RelatedModels.Contains(relation)) //TODO: fix this
            {
				VSHelper.Warning(string.Format("Cannot add an existing relation! Entity {0}, duplicate relation {1}", FullName, relation.RelatedModelType));
				continue;
            }
			RelatedModels.Add(relation);
        }
    }


	private void Initialize()
    {
		VSHelper.SetAsPartial(_domainModel);
		//Editing properties 
		//VSHelper.Warning(_domainModel.FullName + " "+  VSHelper.GetProperties(_domainModel).Count().ToString());
		//VSHelper.Warning(_domainModel.FullName);
		foreach(CodeProperty2 prop in VSHelper.GetProperties(_domainModel))
		{
			VSHelper.SetAsVirtual(prop);

			if (!VSHelper.IsNHibernateProperty(prop) || Settings.IgnoreTypes.Contains(prop.Type.AsFullName))
		        continue;
			
			if (VSHelper.IsEnumerable(prop.Type) && VSHelper.IsGeneric(prop.Type))
			{
			    var itemType = VSHelper.GetGenericAgruments(prop.Type).First();
			    if (Settings.IgnoreTypes.Contains(itemType)) continue;
			}

			MappedProperties.Add(prop.Name, prop);
			if(WasModified)
				EditMappedProperty(prop);
				
		}
		foreach(var method in VSHelper.GetMethods(_domainModel))
        {
            if(method.Access != vsCMAccess.vsCMAccessPrivate)
			    method.OverrideKind = vsCMOverrideKind.vsCMOverrideKindVirtual;
        }

		ProjectItem.Save();
    }

	private ModelRelation GetRelation(CodeProperty2 prop)
	{
	    if (Overrides.ContainsKey(FullName) && Overrides[FullName].ContainsKey(prop.Name))
	        return Overrides[FullName][prop.Name];

	    var one = !(VSHelper.IsEnumerable(prop.Type) && VSHelper.IsGeneric(prop.Type));
        var typeFullName = one
            ? prop.Type.CodeType.FullName
            : VSHelper.GetGenericAgruments(prop.Type).First();

		if(!ProjectTypes.ContainsKey(typeFullName))
		{ 
			VSHelper.Warning(String.Format("Type {0} does not exists in the current project", typeFullName));
		    return new ModelRelation {Type = ModelRelationType.None};
		}
        //Skip further processing if the related type is not an entity
	    if (!ProjectTypes[typeFullName].Any(o => o.IsDerivedFrom[Settings.BaseEntity]))
	    {
	        return new ModelRelation {Type = ModelRelationType.None};
	    }

        //Check for Bidirectional association
		foreach(var cls in ProjectTypes[typeFullName])
        {
			foreach(var p in VSHelper.GetProperties(cls))
            {
				if(VSHelper.IsEnumerable(p.Type) && VSHelper.IsGeneric(p.Type) && VSHelper.GetGenericAgruments(p.Type).First() == FullName && prop.Name == cls.Name) //generic collection
                {
                    //VSHelper.Warning(cls.Name +  " " + p.Name  + " " + typeFullName + " " + (one ?  "OM" : "MM"));
                    return new ModelRelation
                    {
                        Type = one ? ModelRelationType.ManyToOne : ModelRelationType.ManyToMany,
                        RelatedModelType = typeFullName,
                        ListType = one ? null : VSHelper.GetPropertyType(prop),
                        Property = prop,
                        PathInRelatedModel = p.Name,
                        AssociationType = AssociationType.Bidirectional
                    };
                }
                if (p.Type.AsFullName != FullName) continue;
                if (one && 
                    (
                        //by default convenction one to one is not generated
                        VSHelper.GetAttribute(prop.Attributes, "T4FluentNH.Attributes.AsOneToOneAttribute") == null ||
                        //property must be the same when one to one is defined on the same type
                        (typeFullName == FullName && p.Name != prop.Name)
                    )
                )
                {
                    continue;
                }
                    
                //VSHelper.Warning(cls.Name +  " " + p.Name  + " " + typeFullName + " " + (one ?  "OO" : "MO"));
                return new ModelRelation
                {
                    Type = one ? ModelRelationType.OneToOne : ModelRelationType.OneToMany,
                    RelatedModelType = typeFullName,
                    ListType = one ? null : VSHelper.GetPropertyType(prop),
                    Property = prop,
                    PathInRelatedModel = p.Name,
                    AssociationType = AssociationType.Bidirectional
                };
            }
        }

        //Unidirectional association - By default unidirectional associations are oneToMany and manyToOne

        //manyToOne
	    if (one)
	    {
	        return new ModelRelation
	        {
	            Type = ModelRelationType.ManyToOne,
	            RelatedModelType = typeFullName,
	            ListType = null,
	            Property = prop,
	            PathInRelatedModel = null,
	            AssociationType = AssociationType.Unidirectional
	        };
	    }

        //oneToMany - in this case we have to add two relations for both sides

	    AddGlobalModelRelation(typeFullName, new ModelRelation
	    {
	        Type = ModelRelationType.ManyToOne,
	        RelatedModelType = FullName,
	        ListType = null,
	        Property = null,
	        PathInRelatedModel = prop.Name,
	        AssociationType = AssociationType.Unidirectional
	    });

	    return new ModelRelation
	    {
	        Type = ModelRelationType.OneToMany,
	        RelatedModelType = typeFullName,
	        ListType = VSHelper.GetPropertyType(prop),
	        Property = prop,
	        PathInRelatedModel = null,
	        AssociationType = AssociationType.Unidirectional
	    };
	}

    private void EditMappedManyRelation(CodeProperty2 prop, ModelRelation relation)
    {
		//Gtt.Warning(string.Format("{0} - {1} = {2}", FullName, listType, relation));
        VSHelper.SetAsPublic(prop);
		var listImplType = VSHelper.GetEnumerableImplType(prop);
		if (listImplType == null)
		{
		    var colMapType = relation.CollectionMapType;
		    if (colMapType == CollectionMapType.Unknown)
		    {
		        VSHelper.Warning(string.Format("CollectionMapType is not set for property '{0}' in class '{1}'",
		            prop.Name, Name));
		        colMapType = Settings.DefaultCollectionMapType;
		    }
		    switch (colMapType)
		    {
		        case CollectionMapType.Set:
		        case CollectionMapType.Bag:
		            listImplType = "HashSet";
		            break;
		        case CollectionMapType.List:
		            listImplType = "List";
		            break;
		    }
		}

		var newType = VSHelper.GetValidNHibernteEnumerableInterface(prop, listImplType, Settings.Strict);
		VSHelper.SetPropertyType(prop, newType);
		var body = string.Format(@"
		{{
			{0}
			{1}
		}}",
		string.Format("get {{ return {0} ?? ({0} = new {1}<{2}>()); }}", VSHelper.GetFieldName(prop.Name),
		        listImplType, VSHelper.GetClassName(relation.RelatedModelType)),
		string.Format("{0}set {{ {1} = value; }}", Settings.Strict ? "protected " : "",
		        VSHelper.GetFieldName(prop.Name)));
		VSHelper.SetPropertyBody(prop, body);	
    }

    private void EditMappedOneRelation(CodeProperty2 prop, ModelRelation relation)
    {
        VSHelper.SetSetter(prop, Settings.Strict ? "protected internal set;" : "set;");
    }

    private void EditMappedComponent(CodeProperty2 prop)
    {
	    var body = string.Format(@"
		{{
			{0}
			{1}
		}}", string.Format("get {{ return {0} ?? ({0} = new {1}()); }}", VSHelper.GetFieldName(prop.Name), prop.Type.CodeType.Name),
			string.Format("{0}set {{ {1} = value; }}", Settings.Strict ? "protected " : "", VSHelper.GetFieldName(prop.Name)));
        VSHelper.SetPropertyBody(prop, body);
    }

	private void EditMappedProperty(CodeProperty2 prop)
    {
        var relation = GetRelation(prop);
	    if (relation.Type != ModelRelationType.None)
	    {
	        RelatedModels.Add(relation);

	        if(relation.ListType != null)
	            EditMappedManyRelation(prop, relation);
	        else
	            EditMappedOneRelation(prop, relation);
	    }

        //Component
	    if (Components.ContainsKey(FullName) && Components[FullName].ContainsKey(prop.Name))
	    {
	        EditMappedComponent(prop);
	    }
    }
}




#>
<#+

    public class XmlSettings
    {
        public static XmlSettings Load(string path)
        {
            if(!File.Exists(path))
                throw new FileNotFoundException(string.Format("Missing settings at: '{0}'", path));

            var xElement = XElement.Load(path);
            
            var settings = new XmlSettings
            {
                BaseEntity = xElement.XPathSelectElement("/BaseEntity").Value,
                Strict = xElement.XPathSelectElement("/Strict").Value.ToUpperInvariant() == "TRUE",
                DefaultCollectionMapType = (CollectionMapType)Enum.Parse(typeof(CollectionMapType), xElement.XPathSelectElement("/DefaultCollectionMapType").Value, true),
                KeyColumnPrefix = xElement.XPathSelectElement("/KeyColumn/Prefix").Value,
                KeyColumnPostfix = xElement.XPathSelectElement("/KeyColumn/Postfix").Value,
                SyntheticProperties = xElement.XPathSelectElement("/SyntheticProperties").Value.ToUpperInvariant() == "TRUE",
                IdentifierPropertyType = xElement.XPathSelectElement("/IdentifierPropertyType").Value,
                IgnoreTypes = new HashSet<string>(xElement.XPathSelectElements("/IgnoreTypes//IgnoreType").Select(o => o.Value)),
                NotNullAttribute = xElement.XPathSelectElement("/NotNullAttribute").Value,
            };
            if(string.IsNullOrEmpty(settings.BaseEntity))
                throw new Exception("BaseEntity is not set");
            return settings;
        }

        public string KeyColumnPrefix { get; set; }

        public string NotNullAttribute { get; set; }

        public string KeyColumnPostfix { get; set; }

        public HashSet<string> IgnoreTypes { get; set; }

        public string BaseEntity { get; set; }

        public CollectionMapType DefaultCollectionMapType { get; set; }

        public bool Strict { get; set; }

        public bool SyntheticProperties { get; set; }

        public string IdentifierPropertyType { get; set; }

    }


#>


<#+

public VisualStudioHelper VSHelper;

public class VisualStudioHelper : AutomationHelper
{
	private PluralizationService PluralizationService;
	private GeneratedTextTransformation Gtt;

	public VisualStudioHelper(GeneratedTextTransformation gtt) : base(gtt.Host)
	{
		Gtt = gtt;
		PluralizationService = PluralizationService.CreateService(CultureInfo.CreateSpecificCulture("en"));
	}

	public void Warning(string message)
    {
		Gtt.Warning(message);
    }

	public Dictionary<string, List<CodeClass2>> GetAllTypes(IEnumerable<ProjectItem> projectItems)
	{
		var result = new Dictionary<string, List<CodeClass2>>();
		foreach(ProjectItem item in projectItems)
		{
			ProcessTypes(item, (cls, pItem) => 
				{
					if(!result.ContainsKey(cls.FullName))
						result.Add(cls.FullName, new List<CodeClass2>());
					result[cls.FullName].Add(cls);
				});
		}
		return result;
	} 

	/// <summary>
    /// Provides access to the hosts solution startup project.
    /// </summary>
    public Project StartUpProject 
    {
        get
        {
            var startupProjectName = ((Array)DTE.Solution.SolutionBuild.StartupProjects).GetValue(0).ToString();
			
            var projects = GetAllProjects();
 
            foreach (var project in projects)
            {
                // returns object typeof(Project), not just project name
                if (project.UniqueName == startupProjectName)
                return project;
            }
            return null;
        }
    }

	/// <summary>
    /// Provides access to the application/web configuration file.
    /// </summary>
    /// <remarks>
    /// http://msdn.microsoft.com/en-us/library/system.configuration.configuration.aspx
    /// </remarks>
    public System.Configuration.Configuration Configuration(Project project)
    {
        string configurationFilename = null;
        foreach (ProjectItem item in project.ProjectItems)
        {
            if (!Regex.IsMatch(item.Name, "(app|web).config", RegexOptions.IgnoreCase)) 
                continue;
            configurationFilename = item.FileNames[0];
            break;
        }
 
        if(!string.IsNullOrEmpty(configurationFilename))
        {
            var configFile = new ExeConfigurationFileMap {ExeConfigFilename = configurationFilename};
            return System.Configuration.ConfigurationManager.OpenMappedExeConfiguration(configFile, ConfigurationUserLevel.None);
        }
    	return null;
    }

	public Project GetProjectContainingT4File()
	{
		// Fail if we couldn't get the DTE. This can happen when trying to run in TextTransform.exe
		if (DTE == null)
		{
			throw new Exception("T4 can only execute through the Visual Studio host");
		}
		// Find the .tt file's ProjectItem
		ProjectItem projectItem = DTE.Solution.FindProjectItem(Host.TemplateFile);

		// If the .tt file is not opened, open it
		if (projectItem.Document == null)
			projectItem.Open(Constants.vsViewKindCode);

		return projectItem.ContainingProject;
	}

	public string Pluralize(string name)
	{
		return PluralizationService.Pluralize(name);
	}

	public string Singularize(string name)
	{
		return PluralizationService.Singularize(name);
	}

	public string GetValidNHibernteEnumerableInterface(CodeProperty2 prop, string listImplType, bool strict)
	{
		var typeName = GetPropertyType(prop);
	    //if (typeName.Contains("IEnumerable"))
	     //   typeName = typeName.Replace("IEnumerable", listImplType);

	    if (typeName.Contains("IEnumerable"))
	        return typeName;

	    if (typeName.Contains("HashSet") || typeName.Contains("ISet"))
	        return Regex.Replace(typeName, @"(?:HashSet|PersistentGenericSet)", strict ? "IEnumerable" : "ISet");
	    if (typeName.Contains("List") || typeName.Contains("IList"))
	        return Regex.Replace(typeName, @"(?:IList|List)", strict ? "IEnumerable" : "IList");
		if(typeName.Contains("Collection") || typeName.Contains("ICollection")) 
			return Regex.Replace(typeName, @"(?:ICollection|Collection)", strict ? "IEnumerable" : "ICollection");

		throw new Exception(string.Format("Type {0} is not enumerable", typeName));
	}

	public string GetEnumerableImplType(CodeProperty2 prop)
	{
	    var type = prop.Type;
		var typeName = type.CodeType.Name;
		if(new []{"List", "HashSet", "Collection"}.Contains(typeName)) return typeName;
		var baseTypes = GetBaseTypes(type).Select(o => o.Name).ToList();
		if(typeName == "ISet" || baseTypes.Contains("ISet") || GetAttribute(prop.Attributes, "FluentNHibernate.T4.Attributes.AsSetAttribute") != null) 
            return "HashSet";
		if(typeName == "IList" || baseTypes.Contains("IList")) return "List";
        if(typeName == "ICollection" || baseTypes.Contains("ICollection")) return "List";
	    if (typeName == "IEnumerable") return null;
		throw new Exception(string.Format("Type {0} is not enumerable", type.CodeType.Name));
	}

	public string GetClassName(string fullname)
	{
		return fullname.Split('.').Last();
	}

	public string GetClassNamespace(string fullname)
	{
		var arr = fullname.Split('.');
		return string.Join(".", arr.Take(arr.Length-1));
	}

	public string GetFieldName(string name)
	{
		return string.Format("_{0}", FirstCharToLower(name));
	}

	public string FirstCharToLower(string str)
	{
		return Char.ToLowerInvariant(str[0]) + str.Substring(1);
	}

	public bool IsSimpleOrNullableType(CodeTypeRef codeTypeRef)
    {
		var type = Type.GetType(codeTypeRef.AsFullName);
		if(type == null) return false; //External type
        return
            type.IsPrimitive ||
            type == typeof (Decimal) ||
            type == typeof (String) ||
            type == typeof (DateTime) ||
            type == typeof (TimeSpan) ||
            type == typeof (DateTimeOffset) ||
            IsNullable(type);
    }

    public bool IsNullable(CodeTypeRef codeTypeRef)
    {
		var type = Type.GetType(codeTypeRef.AsFullName);
        return Nullable.GetUnderlyingType(type) != null;
    }

	public string FirstCharToUpper(string input)
	{
		if (String.IsNullOrEmpty(input))
			throw new ArgumentException("ARGH!");
		return input.First().ToString().ToUpper() + String.Join("", input.Skip(1));
	}

	public bool IsEnumerable(CodeTypeRef type) //not working for dict
	{
		if(type.TypeKind == vsCMTypeRef.vsCMTypeRefOther)
		{
			throw new Exception(string.Format("Can not evaluate type {0}", type.AsFullName));
			//return false;
		}
		var baseTypes = GetBaseTypes(type).Select(o => o.Name).ToList();
		baseTypes.Add(type.CodeType.Name);
		return 
			baseTypes.Contains("IEnumerable") || 
			baseTypes.Contains("HashSet") ||
			baseTypes.Contains("Collection") ||
			baseTypes.Contains("List"); 
	}

    public string Trim(string str, string prefix, string postfix)
    {
        return TrimEnd(TrimStart(str, prefix), postfix);
    }

    public string TrimEnd(string str, string trim)
    {
        if (string.IsNullOrEmpty(str)) return str;
        return (str.EndsWith(trim))
            ? str.Substring(0, str.Length - trim.Length)
            : str;
    }

    public string TrimStart(string str, string trim)
    {
        if (string.IsNullOrEmpty(str)) return str;
        return (str.StartsWith(trim))
            ? str.Substring(trim.Length, str.Length - trim.Length)
            : str;
    }

	public List<CodeElement> GetBaseTypes(CodeTypeRef type)
	{
		var result = new List<CodeElement>();
		if(type.TypeKind == vsCMTypeRef.vsCMTypeRefOther)
		{
			//Warning(string.Format("Can not get base types for type {0}", type.AsFullName));
			return result;
		}
        
		for(var i=1; i <= (type.CodeType.Bases.Count); i++)
		{
			result.Add(type.CodeType.Bases.Item(i));
		}
		return result;
	}

	public List<string> GetBaseTypeNames(CodeClass2 cls)
	{
		var result = new List<string>();
		for(var i=1; i <= (cls.Bases.Count); i++)
		{
			result.Add(cls.Bases.Item(i).Name);
		}
		return result;
	}

	public bool IsController(CodeClass2 type)
	{
		// Ignore any class which name doesn't end with "Controller"
		if (!type.FullName.EndsWith("Controller")) return false;

		for (; type.FullName != "System.Web.Mvc.Controller"; type = (CodeClass2)type.Bases.Item(1))
		{
			if (type.Bases.Count == 0)
				return false;
		}
		return true;
	}

	public bool IsGeneric(CodeTypeRef type)
	{
		return GetGenericAgruments(type).Any();
	}

	public List<string> GetGenericAgruments(CodeTypeRef type)
	{
		var result = new List<string>();
		if(type.TypeKind == vsCMTypeRef.vsCMTypeRefOther)
		{
			//Warning(string.Format("Can not get generic arguments for type {0}", type.AsFullName));
			return result;
		}
		return GetGenericAgruments(type.CodeType.FullName);
		
	}

	public List<string> GetGenericAgruments(string fullName)
	{
		var result = new List<string>();
		var genArgs = fullName.Split('<', '>');
		if(genArgs.Length <= 1) return result;
		foreach(var arg in genArgs[1].Split(','))
		{
			result.Add(arg);
		}
		return result;
    }

	public bool IsProtectedInternal(vsCMAccess access)
	{
		return access == vsCMAccess.vsCMAccessProjectOrProtected && 
			(access != vsCMAccess.vsCMAccessProtected && access != vsCMAccess.vsCMAccessProject);
	}

	public bool IsNHibernateProperty(CodeProperty2 prop)
    {
		return (IsProtectedInternal(prop.Access) || prop.Access == vsCMAccess.vsCMAccessPublic) && prop.Setter != null;
    }

	public void SetAsProtectedInternal(CodeProperty2 prop)
	{
		prop.Access = vsCMAccess.vsCMAccessProjectOrProtected;
	}

	public void SetAsPublic(CodeProperty2 prop)
	{
		prop.Access = vsCMAccess.vsCMAccessPublic;
	}

	public void SetAsPartial(CodeClass2 type)
	{
		if (type.ClassKind != vsCMClassKind.vsCMClassKindPartialClass)
		{
			try
			{
				type.ClassKind = vsCMClassKind.vsCMClassKindPartialClass;
			}
			catch
			{
				//Warning("SetAsPartial");
				return;
			}
			//Warning(String.Format("{0} changed the class {1} to be partial", T4FileName, type.Name));
		}
	}

	public void SetSetter(CodeProperty2 prop, string text)
	{
		SetCodeFunctionText(prop.Setter, text);
	}

	public void SetGetter(CodeProperty2 prop, string text)
	{
		SetCodeFunctionText(prop.Getter, text);
	}

	public void SetAsVirtual(CodeProperty2 prop)
	{
	    if (prop.OverrideKind == vsCMOverrideKind.vsCMOverrideKindVirtual || prop.Access == vsCMAccess.vsCMAccessPrivate) return;
	    var getterText = GetCodeFunctionText(prop.Getter);
	    var setterText = prop.Setter != null ? GetCodeFunctionText(prop.Setter) : null;
	    prop.OverrideKind = vsCMOverrideKind.vsCMOverrideKindVirtual; //bug with auto-properties
	    SetCodeFunctionText(prop.Getter, getterText);
	    if(setterText == null) return;
	    SetCodeFunctionText(prop.Setter, setterText);
	}

	public string GetPropertyType(CodeProperty2 prop)
	{
		var codeStart = prop.StartPoint.CreateEditPoint();
		var codeFinish = prop.EndPoint;
		var functionText = codeStart.GetText(codeFinish);
		var match = Regex.Match(functionText, string.Format(@"([public\s|private\s|protected\s|internal\s|virtual\s|static\s]+)(.+?(?= {0}))", prop.Name));
		if (!match.Success || match.Groups.Count < 3) 
			throw new Exception("Failed to get property type for property " + prop.Name);
		return match.Groups[2].Value;
	}

	public void SetPropertyType(CodeProperty2 prop, string type)
	{
		var codeStart = prop.StartPoint.CreateEditPoint();
		var codeFinish = prop.EndPoint;
		var functionText = codeStart.GetText(codeFinish);
		var currentType = GetPropertyType(prop);
		codeStart.ReplaceText(codeFinish.CreateEditPoint(), functionText.Replace(currentType, type), (int)vsEPReplaceTextOptions.vsEPReplaceTextAutoformat);
	}

	public void SetPropertyBody(CodeProperty2 prop, string body)
	{
		var codeStart = prop.StartPoint.CreateEditPoint();
		var codeFinish = prop.EndPoint;
		var functionText = codeStart.GetText(codeFinish);
		functionText = functionText.Substring(0, functionText.IndexOf('{')-1) + body;
		var currentType = GetPropertyType(prop);
		codeStart.ReplaceText(codeFinish.CreateEditPoint(), functionText, (int)vsEPReplaceTextOptions.vsEPReplaceTextAutoformat);
	}

	public string GetCodeFunctionText(CodeFunction codeFunction)
	{
		var codeStart = codeFunction.StartPoint;
		var codeFinish = codeFunction.EndPoint;
		return codeStart.CreateEditPoint().GetText(codeFinish);
	}

	public void SetCodeFunctionText(CodeFunction codeFunction, string text)
	{
		var codeStart = codeFunction.StartPoint;
		var codeFinish = codeFunction.EndPoint;
		var editPoint = codeStart.CreateEditPoint();
		editPoint.Delete(codeFinish);
		editPoint.Insert(text);
	}


	public bool ContainBaseType(CodeClass2 type, string baseType)
	{
		for (; type.FullName != baseType; type = (CodeClass2)type.Bases.Item(1))
		{
			if (type.Bases.Count == 0)
				return false;
		}
		return true;
	}

	// Check if the class has any explicit constructor
	public bool HasExplicitConstructor(CodeClass2 codeClass)
	{
		return codeClass.Members.OfType<CodeFunction2>().Any(
			f => !f.IsShared && f.FunctionKind == vsCMFunction.vsCMFunctionConstructor);
	}

	// Check if the class has a default (i.e. no params) constructor
	public bool HasExplicitDefaultConstructor(CodeClass2 codeClass)
	{
		return codeClass.Members.OfType<CodeFunction2>().Any(
			f => !f.IsShared && f.FunctionKind == vsCMFunction.vsCMFunctionConstructor && f.Parameters.Count == 0);
	}

    public IEnumerable<CodeProperty2> GetProperties(IEnumerable<CodeClass2> codeClasses)
    {
        var props = new List<CodeProperty2>();
        foreach (var codeClass in codeClasses)
        {
            props.AddRange(GetProperties(codeClass));
        }
        return props;
    }

    public IEnumerable<CodeProperty2> GetProperties(CodeClass2 codeClass)
	{
		// Only look at regular method (e.g. ignore things like contructors)
		return codeClass.Members.OfType<CodeProperty2>();
	}

	public IEnumerable<CodeFunction2> GetMethods(CodeClass2 codeClass)
	{
		// Only look at regular method (e.g. ignore things like contructors)
		return codeClass.Members.OfType<CodeFunction2>()
			.Where(f => f.FunctionKind == vsCMFunction.vsCMFunctionFunction);
	}

	public IEnumerable<CodeFunction2> GetActionResultMethods(CodeClass2 codeClass)
	{
		var methods = new List<CodeFunction2>();
		foreach (CodeFunction2 method in GetMethods(codeClass))
        {
            // Ignore non-public methods
            if (method.Access != vsCMAccess.vsCMAccessPublic)
                continue;

            // Ignore methods that are marked as not being actions
            if (GetAttribute(method.Attributes, "System.Web.Mvc.NonActionAttribute") != null)
                continue;

            // Ignore methods that are marked as Obsolete
            if (GetAttribute(method.Attributes, "System.ObsoleteAttribute") != null)
                continue;

            // Ignore generic methods
            if (method.IsGeneric)
                continue;

			// This takes care of avoiding generic types which cause method.Type.CodeType to blow up
            if (method.Type.TypeKind != vsCMTypeRef.vsCMTypeRefCodeType || !(method.Type.CodeType is CodeClass2))
                continue;

			// We only support action methods that return an ActionResult and Task<ActionResult> derived types
            if (!method.Type.CodeType.get_IsDerivedFrom("System.Web.Mvc.ActionResult") && method.Type.CodeType.FullName !="System.Threading.Tasks.Task<System.Web.Mvc.ActionResult>")
            {
                Warning(String.Format("doesn't support {1}.{2} because it doesn't return a supported {3} type", codeClass.Name, method.Name, method.Type.CodeType.FullName));
                continue;
            }
			methods.Add(method);
        }
		return methods;
	}

	public CodeFunction2 GetMethod(CodeClass2 codeClass, string name)
	{
		return GetMethods(codeClass).FirstOrDefault(f => f.Name == name);
	}

    public string GetAttributeArgumentValue(CodeAttribute2 attribute, string argumentName)
    {
        if (attribute == null) return null;
        var patternFormat = @"{0}[^=]*=[\s]*([^$]+)";
        var match = Regex.Match(attribute.Value, String.Format(patternFormat, argumentName), RegexOptions.IgnoreCase);
        if (!match.Success) return null;
        return match.Groups[1].Value.TrimEnd();
    }

    public CodeAttribute2 GetAttribute(CodeElements attributes, string attributeType)
	{
		for (int i = 1; i <= attributes.Count; i++)
		{
			try
			{
				var attrib = (CodeAttribute2)attributes.Item(i);
				if (attributeType.Split(',').Contains(attrib.FullName, StringComparer.OrdinalIgnoreCase))
				{
					return attrib;
				}
			}
			catch
			{
				// FullName can throw in some cases, so just ignore those attributes
				continue;
			}
		}
		return null;
	}

	public string MakeClassName(string ns, string classname)
	{
		return String.IsNullOrEmpty(ns) ? classname :
			String.IsNullOrEmpty(classname) ? ns : ns + "." + classname;
	}

	public string GetVirtualPath(ProjectItem item)
	{
		string fileFullPath = item.get_FileNames(0);
		var appRoot = Path.GetDirectoryName(item.ContainingProject.FullName) + "\\";

		if (!fileFullPath.StartsWith(appRoot, StringComparison.OrdinalIgnoreCase))
			throw new Exception(string.Format("File {0} is not under app root {1}. Please report issue.", fileFullPath, appRoot));

		// Make a virtual path from the physical path
		return "~/" + fileFullPath.Substring(appRoot.Length).Replace('\\', '/');
	}

	public void ProcessTypes(ProjectItem file, Action<CodeClass2, ProjectItem> typeAction)
	{
		if(file.FileCodeModel != null)
		{
			// Process all the elements that are namespaces
			foreach (var ns in file.FileCodeModel.CodeElements.OfType<CodeNamespace>())
			{
				foreach (var type in ns.Members.OfType<CodeClass2>())
				{
					typeAction(type, file);
				}
			}
		}
	}

	public void ProcessFiles(IEnumerable<ProjectItem> folders, Action<ProjectItem, string> processAction)
	{
		foreach (ProjectItem item in folders)
		{
			if (IsFolder(item)) continue;
			processAction(item, item.Name);
		}
	}

	public void ProcessFiles(ProjectItem folder, Action<ProjectItem, string> processAction)
	{
		foreach (ProjectItem item in folder.ProjectItems)
		{
			if (IsFolder(item))
			{
				ProcessFiles(item, processAction);
			}
			else
				processAction(item, item.Name);
		}
	}

	public bool IsFolder(ProjectItem item)
	{
		return (item.Kind == Constants.vsProjectItemKindPhysicalFolder);
	}

	public bool IsNullable<T>(T obj)
	{
		if (obj == null) return true; // obvious
		return IsNullable(typeof(T));
	}

	public static bool IsNullable(Type type)
	{
		if (!type.IsValueType) return true; // ref-type
		if (Nullable.GetUnderlyingType(type) != null) return true; // Nullable<T>
		return false; // value-type
    }

}
#>


<#+
public class ClassTree
{
    public ClassTree(string fullName)
    {
        FullName = fullName;
        DepthLevel = !string.IsNullOrEmpty(FullName) ? FullName.Split('.').Count() : 0;
        SubClassTrees = new Dictionary<string, ClassTree>();
        AllSubClassTrees = new List<ClassTree>();
        Classes = new Dictionary<long, string>();
		Data = new Dictionary<long, Dictionary<string, string>>();
    }

    public string Name
    {
        get
        {
            return FullName == null ? null : FullName.Split('.').ToList().Last();
        }
    }

    public string Prefix
    {
        get
        {
            if (FullName == null) return null;
            var nsSlpit = FullName.Split('.').ToList();
            return String.Join(".", nsSlpit.Take(nsSlpit.Count - 1));
        }
    }

	public ClassTree Parent { get; private set; }

	public Dictionary<long, Dictionary<string, string>> Data { get; set; }

    public string FullName { get; set; }

    public int DepthLevel { get; private set; }

    public Dictionary<string, ClassTree> SubClassTrees { get; set; }

    public List<ClassTree> AllSubClassTrees { get; set; }

    public Dictionary<long, string> Classes { get; private set; }

    public string GetUniqueName()
    {
        return GetUniqueName(Name);
    }

    private string GetUniqueName(string name)
    {
        if (Parent == null) return Name;
        return Parent.GetUniqueName() + name;
    }

    public void AddClass(long id, string name, string nsName, Dictionary<string, string> data = null)
    {
        var ns = AddSubClass(nsName);               
        ns.Classes[id] = name;
		ns.Data[id] = data;
    }

    public ClassTree AddSubClass(string fullName)
    {
        ClassTree result = null;
        ClassTree child;
        if (String.IsNullOrEmpty(fullName)) return this;
        var nsSplit = fullName.Split('.').ToList();
        if (DepthLevel >= nsSplit.Count()) return null;
        var childName = nsSplit[DepthLevel];
        if (!SubClassTrees.ContainsKey(childName))
        {
            child = new ClassTree(String.Join(".", nsSplit.Take(DepthLevel + 1)));
            SubClassTrees.Add(childName, child);
            child.Parent = this;
            AllSubClassTrees.Add(child);
        }
        else
            child = SubClassTrees[childName];

        if ((DepthLevel + 1) < nsSplit.Count())
        {
            result = SubClassTrees[childName].AddSubClass(fullName);
            if (result != null)
                AllSubClassTrees.Add(result);
        }
        return (DepthLevel + 1) == nsSplit.Count() ? child : result;
    }
}
#>


<#+

public class DatabaseUnitOfWork : IDisposable
{
	private string _connectionString;
	private SqlConnection _sqlConnection;
	private SqlTransaction _transaction;

	public DatabaseUnitOfWork(string connectionString)
    {
		_connectionString = connectionString;
		_sqlConnection = new SqlConnection(connectionString);
		_sqlConnection.Open();
		_transaction = _sqlConnection.BeginTransaction();
    }

	public void OpenConnection()
    {
		_sqlConnection.Open();
		_transaction = _sqlConnection.BeginTransaction("UnitOfWork");
    }

	public void CloseConnection()
    {
		if(_sqlConnection.State != ConnectionState.Open) throw new Exception("conn not open!");
		_transaction.Commit();
		_sqlConnection.Close();
    }

	public SqlDataReader ExecuteReader(string queryString)
	{
		using(var command = new SqlCommand(queryString, _sqlConnection, _transaction))
        {
			var result = command.ExecuteReader();
			return result;
        }
	}

	public int ExecuteNonQuery(string queryString)
    {
		using(var command = new SqlCommand(queryString, _sqlConnection, _transaction))
        {
			return command.ExecuteNonQuery();
		}
	}

	public int ExecuteNonQuery(string queryString, params SqlParameter[] parameters)
    {
		using(var command = new SqlCommand(queryString, _sqlConnection, _transaction))
        {
			if(parameters != null)
				SetAsInputParameters(command, parameters);
			return command.ExecuteNonQuery();
		}
    }

	public TReturn ExecuteScalar<TReturn>(string queryString)
	{
		return ExecuteScalar<TReturn>(queryString, null);
	}

	public TReturn ExecuteScalar<TReturn>(string queryString, params SqlParameter[] parameters)
	{
		var returnType = typeof(TReturn);
		var convertTo = VisualStudioHelper.IsNullable(returnType)
			? Nullable.GetUnderlyingType(returnType)
			: returnType;
		using(var command = new SqlCommand(queryString, _sqlConnection, _transaction))
        {
			if(parameters != null)
				SetAsInputParameters(command, parameters);
			var result = command.ExecuteScalar();
			return result == null || result is DBNull
				? default(TReturn)
				: (TReturn) Convert.ChangeType(command.ExecuteScalar(), convertTo);
		}
    }

	private void SetAsInputParameters(SqlCommand command, SqlParameter[] parameters)
    {
		foreach(var parameter in parameters)
        {
			parameter.IsNullable = true;
			parameter.Direction = ParameterDirection.Input;
			if(parameter.Value == null)
				parameter.Value = DBNull.Value;
			command.Parameters.Add(parameter);
        }
    }

	public void Dispose()
    {
		CloseConnection();
		_sqlConnection.Dispose();
    }
}

#>


<#+
/*
    Manager.tt from Damien Guard: http://damieng.com/blog/2009/11/06/multiple-outputs-from-t4-made-easy-revisited
*/


// Manager class records the various blocks so it can split them up
class Manager {
    private class Block {
        public String Name;
        public int Start, Length;
    }

    private Block currentBlock;
    private List<Block> files = new List<Block>();
    private Block footer = new Block();
    private Block header = new Block();
    private ITextTemplatingEngineHost host;
    private StringBuilder template;
    protected List<String> generatedFileNames = new List<String>();

    public static Manager Create(ITextTemplatingEngineHost host, StringBuilder template) {
        return (host is IServiceProvider) ? new VSManager(host, template) : new Manager(host, template);
    }

    public void KeepGeneratedFile(String name) {
        name = Path.Combine(Path.GetDirectoryName(host.TemplateFile), name);
        generatedFileNames.Add(name);
    }
    
    public void StartNewFile(String name) {
        if (name == null)
            throw new ArgumentNullException("name");
        CurrentBlock = new Block { Name = name };
    }

    public void StartFooter() {
        CurrentBlock = footer;
    }

    public void StartHeader() {
        CurrentBlock = header;
    }

    public void EndBlock() {
        if (CurrentBlock == null)
            return;
        CurrentBlock.Length = template.Length - CurrentBlock.Start;
        if (CurrentBlock != header && CurrentBlock != footer)
            files.Add(CurrentBlock);
        currentBlock = null;
    }

    public virtual void Process(bool split) {
        if (split) {
            EndBlock();
            var headerText = template.ToString(header.Start, header.Length);
            var footerText = template.ToString(footer.Start, footer.Length);
            var outputPath = Path.GetDirectoryName(host.TemplateFile);
            files.Reverse();
            foreach (var block in files) {
                String fileName = Path.Combine(outputPath, block.Name);
				if(File.Exists(fileName))
					File.SetLastWriteTime(fileName, DateTime.Now);
                String content = headerText + template.ToString(block.Start, block.Length) + footerText;
                generatedFileNames.Add(fileName);
                CreateFile(fileName, content);
                template.Remove(block.Start, block.Length);
            }
        }
    }

    public string GetAllContent()
    {
        var headerText = template.ToString(header.Start, header.Length);
        var footerText = template.ToString(footer.Start, footer.Length);
        var bodyText = string.Join(Environment.NewLine, files.Select(b=> template.ToString(b.Start, b.Length)));
        return headerText + bodyText + footerText;
    }

    protected virtual void CreateFile(String fileName, String content) {
        if (IsFileContentDifferent(fileName, content))
            File.WriteAllText(fileName, content);
    }

    public virtual String GetCustomToolNamespace(String fileName) {
        return null;
    }

    public virtual String DefaultProjectNamespace {
        get { return null; }
    }

    protected bool IsFileContentDifferent(String fileName, String newContent) {
        return !(File.Exists(fileName) && File.ReadAllText(fileName) == newContent);
    }

    private Manager(ITextTemplatingEngineHost host, StringBuilder template) {
        this.host = host;
        this.template = template;
    }

    private Block CurrentBlock {
        get { return currentBlock; }
        set {
            if (CurrentBlock != null)
                EndBlock();
            if (value != null)
                value.Start = template.Length;
            currentBlock = value;
        }
    }

    private class VSManager : Manager {
        private EnvDTE.ProjectItem templateProjectItem;
        private EnvDTE.DTE dte;
        private Action<String> checkOutAction;
        private Action<IEnumerable<String>> projectSyncAction;

        public override String DefaultProjectNamespace {
            get {
                return templateProjectItem.ContainingProject.Properties.Item("DefaultNamespace").Value.ToString();
            }
        }

        public override String GetCustomToolNamespace(string fileName) {
            return dte.Solution.FindProjectItem(fileName).Properties.Item("CustomToolNamespace").Value.ToString();
        }

        public override void Process(bool split) {
            if (templateProjectItem.ProjectItems == null)
                return;
            base.Process(split);
            projectSyncAction.EndInvoke(projectSyncAction.BeginInvoke(generatedFileNames, null, null));
        }

        protected override void CreateFile(String fileName, String content) {
            if (IsFileContentDifferent(fileName, content)) {
                CheckoutFileIfRequired(fileName);
                File.WriteAllText(fileName, content);
            }
        }

        internal VSManager(ITextTemplatingEngineHost host, StringBuilder template)
            : base(host, template) {
            var hostServiceProvider = (IServiceProvider)host;
            if (hostServiceProvider == null)
                throw new ArgumentNullException("Could not obtain IServiceProvider");
            dte = (EnvDTE.DTE)hostServiceProvider.GetService(typeof(EnvDTE.DTE));
            if (dte == null)
                throw new ArgumentNullException("Could not obtain DTE from host");
            templateProjectItem = dte.Solution.FindProjectItem(host.TemplateFile);
            checkOutAction = (String fileName) => dte.SourceControl.CheckOutItem(fileName);
            projectSyncAction = (IEnumerable<String> keepFileNames) => ProjectSync(templateProjectItem, keepFileNames);
        }

        private static void ProjectSync(EnvDTE.ProjectItem templateProjectItem, IEnumerable<String> keepFileNames) {
            var keepFileNameSet = new HashSet<String>(keepFileNames);
            var projectFiles = new Dictionary<String, EnvDTE.ProjectItem>();
            var originalFilePrefix = Path.GetFileNameWithoutExtension(templateProjectItem.get_FileNames(0)) + ".";
            foreach (EnvDTE.ProjectItem projectItem in templateProjectItem.ProjectItems)
                projectFiles.Add(projectItem.get_FileNames(0), projectItem);

            // Remove unused items from the project
            foreach (var pair in projectFiles)
                if (!keepFileNames.Contains(pair.Key) && !(Path.GetFileNameWithoutExtension(pair.Key) + ".").StartsWith(originalFilePrefix))
                    pair.Value.Delete();

            // Add missing files to the project
            foreach (String fileName in keepFileNameSet)
                if (!projectFiles.ContainsKey(fileName))
                    templateProjectItem.ProjectItems.AddFromFile(fileName);
        }

        private void CheckoutFileIfRequired(String fileName) {
            var sc = dte.SourceControl;
            if (sc != null && sc.IsItemUnderSCC(fileName) && !sc.IsItemCheckedOut(fileName))
                checkOutAction.EndInvoke(checkOutAction.BeginInvoke(fileName, null, null));
        }
    }
}

/*
    End of Manager.tt
*/
#>


<#+
/// <summary>
/// Object that provides functionality for automating Visual Studio.
/// </summary>
//public AutomationHelper VisualStudioHelper;

/// <summary>
/// This class provides functionality for automating Visual Studio.
/// </summary>
public class AutomationHelper 
{
	/// <summary>
	/// Creates a new instance of this class
	/// </summary>
	public AutomationHelper(object host)
	{
		// store a reference to the template host
		// we will need this frequently
		this.Host = host as ITextTemplatingEngineHost;
	}
	
	private EnvDTE.DTE _DTE = null;
	/// <summary>
	/// Returns a reference to the primary management object of Visual Studio
	/// <summary>
	public EnvDTE.DTE DTE
	{
		get
		{
			if (_DTE == null)
            {
				var hostServiceProvider = this.Host as IServiceProvider;
				if (hostServiceProvider != null)
					_DTE = hostServiceProvider.GetService(typeof(EnvDTE.DTE)) as EnvDTE.DTE;
            }
			return _DTE;
		}
	}
	
	/// <summary>
	/// Stores a reference to the Host of the t4 template
	/// </summary>
	public ITextTemplatingEngineHost Host { get; private set; }


	#region Solution and Projects
	/// <summary>
	/// Gets the full path of the solution file
	/// </summary>
	public string SolutionFile
    {
		get
        {
			return this.DTE.Solution.FileName;
        }
    }
	/// <summary>
	/// Gets the file name of the currently opened solution.
	/// </summary>
	public string SolutionFileName
    {
		get
        {
			return System.IO.Path.GetFileName(this.DTE.Solution.FileName);
        }
    }
	/// <summary>
	/// Gets the name of the currently opened solution
	/// </summary>
	public string SolutionName
    {
		get
        {
			return this.DTE.Solution.Properties.Item("Name").Value.ToString();
        }
    }

	/// <summary>
	/// Gets a list of all Projects within the solution
	/// </summary>
	public IEnumerable<EnvDTE.Project> GetAllProjects()
    {
		var ret = new List<EnvDTE.Project>();

		// take all projects that are at top level of the solution
		// and recursively search Project folders
		var topLevelProjects = this.DTE.Solution.Projects;

		foreach(EnvDTE.Project project in topLevelProjects)
        {
			if (project.Kind == vsProjectType.SolutionFolder)
				ret.AddRange(GetProjectsFromItemsCollection(project.ProjectItems));
			else
				ret.Add(project);
        }

		return ret;
    }
	/// <summary>
	/// Gets the project object within the current solution by a given project name.
	/// </summary>
	public EnvDTE.Project GetProject(string projectName)
    {
		return this.GetAllProjects()
				   .Where(p => p.Name == projectName)
				   .First();
    }
	/// <summary>
	/// Gets the project containing the .tt-File
	/// </summary>
	public EnvDTE.Project CurrentProject
    {
		get
        {
			return this.FindProjectItem(this.Host.TemplateFile).ContainingProject;
        }
    }
	#endregion

	#region Project Items
	public EnvDTE.ProjectItem FindProjectItem(string fileName)
    {
		return this.DTE.Solution.FindProjectItem(fileName);
    }
	/// <summary>
	/// Gets all project items from the current solution
	/// </summary>
	public IEnumerable<EnvDTE.ProjectItem>GetAllSolutionItems()
    {
		var ret = new List<EnvDTE.ProjectItem>();

		// iterate all projects and add their items
		foreach(EnvDTE.Project project in this.GetAllProjects())
			ret.AddRange(GetAllProjectItems(project));

		return ret;
    }
	/// <summary>
	/// Gets all project items from the current project
	/// </summary>
	public IEnumerable<EnvDTE.ProjectItem>GetAllProjectItems()
    {
		// get the project of the template file and reeturn all its items
		var project = this.CurrentProject;
		return GetAllProjectItems(project);
    }
	/// <summary>
	/// Gets all Project items from a given project. 
	/// </summary>
	public IEnumerable<EnvDTE.ProjectItem>GetAllProjectItems(EnvDTE.Project project)
    {
		return this.GetProjectItemsRecursively(project.ProjectItems);
    }
	#endregion

	#region Code Model
	/// <summary>
    /// Searches a given collection of CodeElements recursively for objects of the given elementType.
    /// </summary>
    /// <param name="elements">Collection of CodeElements to recursively search for matching objects in.</param>
    /// <param name="elementType">Objects of this CodeModelElement-Type will be returned.</param>
    /// <param name="includeExternalTypes">If set to true objects that are not part of this solution are retrieved, too. E.g. the INotifyPropertyChanged interface from the System.ComponentModel namespace.</param>
    /// <returns>A list of CodeElement objects matching the desired elementType.</returns>
    public List<EnvDTE.CodeElement> GetAllCodeElementsOfType(EnvDTE.CodeElements elements, EnvDTE.vsCMElement elementType, bool includeExternalTypes)
    {
        var ret = new List<EnvDTE.CodeElement>();

        foreach (EnvDTE.CodeElement elem in elements)
        {
            // iterate all namespaces (even if they are external)
            // > they might contain project code
            if (elem.Kind == EnvDTE.vsCMElement.vsCMElementNamespace)
            {
                ret.AddRange(GetAllCodeElementsOfType(((EnvDTE.CodeNamespace)elem).Members, elementType, includeExternalTypes));
            }
            // if its not a namespace but external
            // > ignore it
            else if (elem.InfoLocation == EnvDTE.vsCMInfoLocation.vsCMInfoLocationExternal
                    && !includeExternalTypes)
                continue;
            // if its from the project
            // > check its members
            else if (elem.IsCodeType)
            {
                ret.AddRange(GetAllCodeElementsOfType(((EnvDTE.CodeType)elem).Members, elementType, includeExternalTypes));
            }

            // if this item is of the desired type
            // > store it
            if (elem.Kind == elementType)
                ret.Add(elem);
        }

        return ret;
    }
	#endregion


	#region Auxiliary stuff
	private List<EnvDTE.Project> GetProjectsFromItemsCollection(EnvDTE.ProjectItems items)
    {
		var ret = new List<EnvDTE.Project>();

		foreach(EnvDTE.ProjectItem item in items)
        {
			if (item.SubProject == null)
				continue;
			else if (item.SubProject.Kind == vsProjectType.SolutionFolder)
				ret.AddRange(GetProjectsFromItemsCollection(item.SubProject.ProjectItems));
			else if (item.SubProject.Kind == vsProjectType.VisualBasic
				  || item.SubProject.Kind == vsProjectType.VisualCPlusPlus
				  || item.SubProject.Kind == vsProjectType.VisualCSharp
				  || item.SubProject.Kind == vsProjectType.VisualJSharp
				  || item.SubProject.Kind == vsProjectType.WebProject)
				ret.Add(item.SubProject);
        }

		return ret;
    }
	private List<EnvDTE.ProjectItem> GetProjectItemsRecursively(EnvDTE.ProjectItems items)
    {
		var ret = new List<EnvDTE.ProjectItem>();
        if (items == null) return ret;
		
		foreach(EnvDTE.ProjectItem item in items)
        {
			ret.Add(item);
			ret.AddRange(GetProjectItemsRecursively(item.ProjectItems));
        }

		return ret;
    }
	#endregion

	/// <summary>
	/// Gets the T4 template as vs projectitem.
	/// </summary>
	public EnvDTE.ProjectItem GetTemplateAsProjectItem()
	{
		return DTE.Solution.FindProjectItem(this.Host.TemplateFile);
	}
		
}

public class vsProjectType
{
	public const string SolutionFolder = "{66A26720-8FB5-11D2-AA7E-00C04F688DDE}";
	public const string VisualBasic = "{F184B08F-C81C-45F6-A57F-5ABD9991F28F}";
	public const string VisualCSharp = "{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}";
	public const string VisualCPlusPlus = "{8BC9CEB8-8B4A-11D0-8D11-00A0C91BC942}";
	public const string VisualJSharp = "{E6FDF86B-F3D1-11D4-8576-0002A516ECE8}";
	public const string WebProject = "{E24C65DC-7377-472b-9ABA-BC803B73C61A}";
}
#>
